<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<link href="../static/css/hello.css" th:href="@{/css/hello.css}" rel="stylesheet" type="text/css" media="screen" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1"/>
	<title>HELLO</title>
</head>
<body>
	
	<div id="main">
		<form class="container form-horizontal" id="zapis-form" role="form" enctype="multipart/form-data"
			th:action="@{/upload}" action="/upload/redirect" method="POST" th:object="${zapis}">
			<div class="page-header">
				<h1 th:inline="text" class="form-group" th:placeholder="#{welcomeMessage}"  th:text="#{welcomeMessage} + ' ' + ${#httpServletRequest.remoteUser} + '!'" ></h1>
				<div class="form-group" id="langButtons">
					<label th:text="#{toggleLocale}"></label>
						<div><a href="/?lang=en">EN</a> <a href="/?lang=rs">SRB</a></div>				
				</div>
			</div>
			<br></br>
	
			<div class="form-group">
				<label class="control-label" for="fileUpload" th:text="#{fileUpload}"></label>
				<input type="file" id="fileUpload" name="fileUpload" th:field="${zapis.fileUpload}" />			
			</div>
			<div class="form-group">
				<label class="control-label" for="fileName" th:text="#{fileName}"></label>			
				<input class="form-control" type="text" id="fileName" name="fileName" th:field="${zapis.fileName}"
						th:placeholder="#{placeholderName}" />			
			</div>
			<div class="form-group">
				<label class="control-label" for="fileDescription" th:text="#{fileDescription}"></label>			
				<textarea class="form-control" id="fileDescription" name="fileDescription" th:field="${zapis.fileDescription}"
						th:placeholder="#{placeholderDesc}"></textarea>			
			</div>
			<div class="form-group">			
					<input type="submit" class="btn btn-success" value="Upload" th:attr="value=#{uploadLabel}"/>
					<input type="reset" class="btn btn-danger" value="Cancel" th:attr="value=#{cancelLabel}"/>			
			</div>
		</form>
	
		<br></br>
		<form id="myBla" class="container form-horizontal" th:action="@{/logout}" method="post">
			<div class="form-group">
				<input type="submit" class="btn btn-info" value="Sign Out" th:attr="value=#{signOutLabel}"/>
			<!-- <input type="submit" value="Sign Out" class="btn btn-info" /> -->
			</div>
		</form>
	</div>
	
</body>
</html>